.card-deck {
  justify-content: center;
}

.card {
  margin: 10px;
  color: black;
}

.card-img-top {
  padding: 10px;
  width: 18rem;
  height: 18rem;
  min-height: 18rem;
}

.description {
  position: relative;
  display: inline-block;
}
.description .descriptionBox {
  visibility: hidden;
  width: 100%;
  /* background-color: black;
  color: #fff; */
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  padding: 10;
  opacity: 0.8;
  background-color:whitesmoke;
  /* bottom: 150%;
  left: 50%;
  margin-left: -60px; */
}
.description .descriptionBox::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
  z-index: 1;
}
.hover:hover .descriptionBox {
  visibility: visible;
}

.alert{
  background-color: rgb(0, 132, 255);
}
/*new*/
.dropbtn {
  background-color: gray;
  position: relative;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  z-index: 0;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: black;
}
