<div class="alert alert-primary" role="alert">

  <label for="category">FILTER BY: category </label>
  <select [(ngModel)]="filterCategory" id="category" name="category" size="1" #ctrl="ngModel" required>
    <option value="0">All</option>
    <option value="10">Abs</option>
    <option value="13">Shoulders</option>
    <option value="8">Arms</option>
    <option value="12">Back</option>
    <option value="14">Calves</option>
    <option value="11">Chest</option>
    <option value="9">Legs</option>
  </select>

  <label for="muscle">muscle:</label>
  <select [(ngModel)]="filterMuscle" id="muscle" name="muscle" size="1" #ctrl="ngModel" required>
    <option value="0">All</option>
    <option value="2">Anterior deltoid</option>
    <option value="1">Biceps brachii</option>
    <option value="11">Biceps femoris</option>
    <option value="13">Brachialis</option>
    <option value="7">Gastrocnemius</option>
    <option value="8">Gluteus maximus</option>
    <option value="12">Latissimus dors</option>
    <option value="14">Obliquus externus abdominis</option>
    <option value="4">Pectoralis major</option>
    <option value="10">Quadriceps femoris</option>
    <option value="6">Rectus abdominis</option>
    <option value="3">Serratus anterior</option>
    <option value="15">Soleus</option>
    <option value="9">Trapezius</option>
    <option value="5">Triceps brachii</option>
  </select>

  <label for="equipment">equipment:</label>
  <select [(ngModel)]="filterEquipment" id="equipment" name="equipment" size="1" #ctrl="ngModel" required>
    <option value="0">All</option>
    <option value="1">Barbell</option>
    <option value="8">Bench</option>
    <option value="3">Dumbbells</option>
    <option value="4">Gym mat</option>
    <option value="9">Incline bench</option>
    <option value="10">Kettlebell</option>
    <option value="7">none (bodyweight exercise)>
    <option value="6">Pull-up bar</option>
    <option value="5">Swiss Ball</option>
    <option value="2">SZ-Bar</option>
  </select>

  <label for="name">exercise:</label>
  <select [(ngModel)]="filterExerciseName" id="name" name="name" size="1" #ctrl="ngModel" required>
    <option value="0">All</option>
    <option *ngFor="let item of exercises" value="{{item.name}}">{{item.name}}</option>
  </select>

  <br><br>

  <div class="card-deck">
    <div *ngFor="let item of exercises">
      <ng-container *ngIf='filterCategory=="0"?true:item.category==filterCategory'>
        <ng-container *ngIf='filterMuscle=="0"?true:item.muscles[0]?.id==filterMuscle'>
          <ng-container *ngIf='filterEquipment=="0"? true : item.equipment[0]?.id == filterEquipment'>
            <ng-container *ngIf='filterExerciseName=="0"?true:item.name==filterExerciseName'>
              <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="{{item.image}}" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">{{item.name}} {{item.id}}</h5>
                  <p class="card-text">Category: {{item.categoryName}}</p>
                  <!-- <p class="card-text">Exercise no: {{item.id}}</p> -->
                  <ng-container *ngFor="let muscle of item.muscles">
                    <p class="card-text">Muscle: {{muscle.name}}</p>
                  </ng-container>
                  <ng-container *ngFor="let equipment of item.equipment">
                    <p class="card-text">Equipment: {{equipment.name}} {{equipment.id}}</p>
                  </ng-container>
                  <p class="card-text" innerHTML={{item.description}}></p>
                </div>
              </div>
            </ng-container>
          </ng-container>
        </ng-container>
      </ng-container>
    </div>
  </div>
</div>
