<div class="about-section">
  <h1>ABOUT MYPLANET FITNESS</h1>
  <p>Whether you’re a first-time gym user or a veteran member, we’re here to provide a workout environment in which
    anyone - and everyone - can be comfortable.</p>
</div>

<h2 style="text-align:center">Our Team</h2>

<div class="d-flex flex-row flex-wrap justify-content-center">
  <div class="card">
    <img src="/assets/female2.jpg" alt="Jane" style="width:100%">
    <div class="container">
      <h2>Jane Doe</h2>
      <p class="title">CEO & Founder</p>
      <p>Some text that describes me lorem ipsum ipsum lorem.</p>
      <p>jane.doe@fitness.com.com</p>
      <p><button class="button">Contact</button></p>
    </div>
  </div>

  <div class="card">
    <img src="/assets/male1.jpg" alt="Mike" style="width:100%">
    <div class="container">
      <h2>Mike Ross</h2>
      <p class="title">Sales manager</p>
      <p>Some text that describes me lorem ipsum ipsum lorem.</p>
      <p>mike.ross@fitness.com</p>
      <p><button class="button">Contact</button></p>
    </div>
  </div>

  <div class="card">
    <img src="/assets/female1.jpg" alt="John" style="width:100%">
    <div class="container">
      <h2>Maria Smith</h2>
      <p class="title">Personal trainer</p>
      <p>Some text that describes me lorem ipsum ipsum lorem.</p>
      <p>maria.smith@fitness.com</p>
      <p><button class="button">Contact</button></p>
    </div>
  </div>

  <div class="card">
    <img src="/assets/female5.jpg" alt="John" style="width:100%">
    <div class="container">
      <h2>Rita Gonzales</h2>
      <p class="title">Personal trainer</p>
      <p>Some text that describes me lorem ipsum ipsum lorem.</p>
      <p>john.doe@fitness.com</p>
      <p><button class="button">Contact</button></p>
    </div>
  </div>

  <div class="card">
    <img src="/assets/female6.jpg" alt="John" style="width:100%">
    <div class="container">
      <h2>Elena Barnes</h2>
      <p class="title">Personal trainer</p>
      <p>Some text that describes me lorem ipsum ipsum lorem.</p>
      <p>john.doe@fitness.com</p>
      <p><button class="button">Contact</button></p>
    </div>
  </div>

  <div class="card">
    <img src="/assets/male3.jpg" alt="John" style="width:100%">
    <div class="container">
      <h2>John Adam</h2>
      <p class="title">Personal trainer</p>
      <p>Some text that describes me lorem ipsum ipsum lorem.</p>
      <p>john.doe@fitness.com</p>
      <p><button class="button">Contact</button></p>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-3">
    <div class="card">
      <div style='text-align:center;' class="container">
        <h2>BRING A GUEST</h2>
        <h2>ANYTIME</h2>
        <p>Working out is better with a buddy.
        <p> MPF Black Card® members </p>
        <p>can bring a guest for free!</p>

      </div>
    </div>
  </div>

  <div class="col-lg-3">
    <div class="card">
      <div style='text-align:center' class="container">
        <h2>UNLIMITED ACCESS TO</h2>
        <h2> HOME CLUB</h2>
        <p> Come in anytime, as often as you like.</p>
      </div>
    </div>
  </div>

  <div class="col-lg-3">
    <div class="card">
      <div style="text-align:center" class="container">
        <h2>USE OF ANY PLANET FITNESS WORLDWIDE</h2>

        <p>As a PF Black Card® member,
        <p>you’ll have the ability to use</p>
        <p>any of our 2,000+ locations..</p>

      </div>
    </div>
  </div>

  <div class="col-lg-3">
    <div class="card">
      <div class="container">
        <h2>FREE FITNESS TRAINING</h2>
        <pre>
                </pre>
        <p>Take a small group fitness class, check out</p>
        <p>our 30-minute express circuit or create a</p>
        <p>customized workout plan. It’s all free!</p>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-3">
    <div class="footer">
      <address>
        40152 Ryan Rd, Sterling Heights, MI 48310<br>
        Phone: (586) 294-2810<br>
        Website: Myplanetfitness.com<br>
        Hours: Closed now ·Opens 5 AM
      </address>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="footer">
      <address>
        CLUB HOURS<br><br>
        Monday-Thursday 5am-10pm<br>
        Friday 5am-9pm<br>
        Saturday-Sunday 7am-7pm<br>
      </address>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="footer">
      <address>
        MPF BLACK CARD<br><BR>
        0$ Down - No Commitment!
        22.99/mo<br>
        pluss taxes and fees<br>
        <button style="border-radius: 10px;">Select</button>
      </address>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="footer">
      <address>
        CLASSIC CARD<br>
        Get Moving Today! No Commitment!!
        $10/mo<br>
        plus taxes and fees<br>
        <button style="border-radius: 10px;">Select</button>
      </address>
    </div>
  </div>
</div>
