nav {
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  background-color: skyblue;
  list-style-type: none;
  padding: 0;
}

a {
  display: block;
  padding: 8px;
  background-color: #dddddd;
  text-decoration: none;
}
