<nav>
  <div class="navFlex">
    <div class="logo">
      <img src="/assets/MNFLogo.png" alt="My_Neighborhood_Fitness_Logo">
    </div>
    <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="/" routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}">Home</a>
      <a class="nav-item nav-link" routerLink="/profile" routerLinkActive="active">Profile</a>
      <a class="nav-item nav-link" routerLink="/sets" routerLinkActive="active">Sets</a>
      <a class="nav-item nav-link" routerLink="/exercise" routerLinkActive="active">Exercise</a>
      <a class="nav-item nav-link" routerLink="/calendar" routerLinkActive="active">Calendar</a>
      <a class="nav-item nav-link" routerLink="/contacts" routerLinkActive="active">About us</a>
      <a class="nav-item nav-link" (click)="logout()">Logout</a>
    </div>
    <fa-icon [icon]="faLightbulb" (click)="toggleTheme()"></fa-icon>
  </div>
</nav>
