<br><br>
        <div class="input-container">
            <label  for="firstname">Firstname:</label>
            <i  class="fa fa-user icon" ></i>
            <input   class="input-field" name="firstName" [(ngModel)]="auser.firstname">
        </div>
      
        <div class="input-container">
          <label for="lastname">Lastname:</label><br>
          <i class="fa fa-user icon"></i>
          <input class="input-field" name="lastname" [(ngModel)]="auser.lastname">
      </div>
      
      <div class="input-container">
          <label for="username">Username:</label>
          <i class="fa fa-user icon"></i>
          <input class="input-field"  name="username" [(ngModel)]="auser.username">
        </div>
      <div class="input-container">
          <label for="password">Password:</label>
          <i class="fa fa-key icon"></i>
          <input class="input-field" name="password" [(ngModel)]="auser.password">
      </div>
      
      <div class="input-container">
          <label for="username">Email address:</label>
          <i class="fa fa-envelope icon"></i>
          <input class="input-field" [(ngModel)]="auser.email">
      </div>
      
      <div class="input-container">
        <label for="phone">Phone:</label>
        <i class="fa fa-phone icon"></i>
        <input class="input-field" [(ngModel)]="auser.phone">
      </div>
      
    <div class="input-container">
          <label for="username">Street:</label>
          <i class="fa fa-home icon"></i>
          <input class="input-field" [(ngModel)]="auser.address.street">
      </div>
      <div class="input-container">
          <label for="city">City:</label>
          <i class="fa fa-home icon"></i>
          <input class="input-field" [(ngModel)]="auser.address.city">
      </div>
      <div class="input-container">
          <label for="state">State:</label>
          <i class="fa fa-home icon"></i>
          <input class="input-field" [(ngModel)]="auser.address.state">
      </div>
      <div class="input-container">
          <label for="state">zipcode:</label>
          <i class="fa fa-home icon"></i>
          <input class="input-field" [(ngModel)]="auser.address.zipcode"><br>
         </div> 
         
         <div class="input-container">
          <button class="btn" (click)="UpdateProfile(auser)">Update Profile</button> 
        </div>