<div *ngFor='let day of week'>
  <h1 [ngClass]="{'currentDay': day.num == currentday}">{{day.day}}</h1>
  <div *ngFor='let set of day.sets'>
    <h5>{{set.name}}</h5>
    <ng-container *ngFor='let excer of set.exercises'>
      {{excer.amount}} x {{excer.name}}
    </ng-container>
  </div>
</div>

<br>
<br>
Available Sets:
<div *ngFor='let set of sets'>
  <h5>{{set.name}}</h5>
  Add to
  <ng-container *ngFor="let day of week; index as i">
    <button [disabled]="this.week[i].sets.includes(set)" (click)="addSetToDay(set, i)">{{day.day}}</button>
  </ng-container>
  <br>
  Remove from
  <ng-container *ngFor="let day of week; index as i">
    <button [disabled]="!this.week[i].sets.includes(set)" (click)="removeSetFromDay(set, i)">{{day.day}}</button>
  </ng-container>
  <ng-container *ngFor='let excer of set.exercises'>
    <br>{{excer.amount}} x {{excer.name}}
  </ng-container>
</div>
